/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

body {
  margin: 0;
  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.modal-feedback,
.modal-map,
.modal-cart, {
  display: none;
}

.main-header {
  background-color: #f4f7f9;
}

.main-header-logo {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.main-header-logo:focus,
.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}


a {
  text-decoration: none;
}

.header-list {
  list-style: none;
  color: #ffffff;
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
}

.header-list a {
  color: #ffffff;
}

.header-list li:last-child a {
  background-color: #63a63e;
}

.header-list li:last-child a:focus,
.header-list li:last-child a:hover {
  background-color: #5fbb2d;
}

.header-list li:last-child a:active {
  color: rgba 255 255 255, 0.5;
  background-color: #518534;

}

.header-list a:hover,
.header-list a:focus {
  background-color: #212a3a;
}

.header-list a:active {
  color: rgba 255 255 255, 0.6;
  background-color: #161d29;

}

.site-navigation-current a {
  background-color: #ee3643;
}

.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  background-color: #ee3643;
}

.search-form input {
  font: inherit;
  background-color:  #293449;
  border: none;
}

.search-form input:hover,
.search-form input:focus {
  background-color: #ffffff;
}

.main-header h1 {
  font-family: 'Cuprum', sans-serif, 'Arial Narrow', sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.main-header .address {
color: #32425c;
font-size: 14px;
line-height: 24px;
}

.main-header .address a {
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  border: solid 3px #ffffff;
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
}

.user-navigation a:focus,
.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .user-name {
  font-size: 21px;
  line-height: 21px;
}

.user-orders,
.personal-account {
  font-size: 16px;
  font-weight: 18px;
  color: #32425c;
  text-decoration: underline;
}


.main-navigation {
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  color: #ffffff;

}

.main-navigation a:focus,
.main-navigation a:hover {
  background-color: #293449
}

.main-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.breadcrumbs {
  list-style: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
color: #000000;
}

.container .page-title {
font-size: 30px;
line-height: 30px;
background-color: #f2f6f8;
color: #32425c;
font-weight: normal;
text-transform: uppercase;
}

.filter fieldset {
  border: none;

}

.filter .filter-button {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  border-radius: 2px;
}

.catalog-list {
list-style: none;
font-family: 'PT Sans', sans-serif;
font-size: 18px;
line-height: 20px;
}

.catalog-list a {
  color: #000000;
}

.catalog-item:hover,
.catalog-item:focus {
box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-price {
font-family: 'PT Sans', sans-serif;
font-size: 17px;
line-height: 18px;
font-weight: bold;
color: #999999;
}

.catalog-item-price a {
background: #ee3643;
color: #ffffff;
}

fieldset legend{
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

fieldset ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}




.features h2 {
 font-size: 30px;
 line-height: 30px;
 color: #000000;
 text-transform: uppercase;
}

.features-list {
list-style: none;
font-size: 13px;
line-height: 24px;
font-family: 'PT Sans', sans-serif;
font-weight: normal;
}

.services {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.features .button {
  font:inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  font-size: 14px;
  line-height: 18px;
}

.features .button:hover,
.features .button:focus {
  background-color: #ca2c37

}

.features .button:active {
  background-color: #ba2732;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
 }

.contacts p {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

.contacts .button {
  font:inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  font-size: 14px;
  line-height: 18px;
}

.contacts .button:hover,
.contacts .button:focus {
  background-color: #ca2c37

}

.contacts .button:active {
  background-color: #ba2732;
}

.main-footer {
background-color: #32425c;
}

.main-footer .main-footer-logo {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;

}

.main-footer .address {
    color: #ffffff;;
    font-size: 18px;
    line-height: 24px;
}

.address a {
  color: #ffffff;
}

.footer-nav-list {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav-list a{
  color: #ffffff;
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
  text-decoration: underline;
}

.footer-nav-list a:focus {
  color: rgba(241, 245, 247, 0.5);
}

.footer-offer-list {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.footer-offer-list a{
  color: #ffd180;
}

.footer-offer-list a:hover,
.footer-offer-list a:focus {
  text-decoration: underline;
}

.footer-offer-list a:focus {
  color: rgba(241, 245, 247, 0.5);
}

.bottom-line {
  background-color: #293449;
}

.footer-copyright {
  color: #ffffff;;
  font-size: 16px;
  line-height: 18px
}

.footer-social ul {
list-style: none;
}

.footer-social a {
color: #ffffff;
}

.footer-social a:focus,
.footer-social a:hover,
.footer-social a:focus {
  background-color: #ee3643;
}

.feedback,
.developed {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback + a {

  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
}

.developed a {
  color: #ffd180;
}
