body,
html {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  background: #ffffff;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

input,
p,
textarea {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 30px;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

ul {
  list-style: none;
}

.main-header {
  min-height: 320px;
}

.catalog-page .main-header {
  margin-bottom: 18px;
}

.header-up {
  min-height: 40px;
  background: #293449;
}

.logo {
  float: left;
}

.logo a {
  display: inline-block;
  width: 165px;
  padding: 11px 0 7px 55px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: #ffffff;
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo a:hover {
  background: #ca2c37;
}

.logo a:active {
  background: #ba2732;
}

.header-up-wrapper,
.search {
  float: left;
  color: #ffffff;
  background: #293449;
}

.header-up-wrapper {
  max-width: 720px;
  ;
}

.search {
  position: relative;
  width: 270px;
}

input[type=search] {
  width: 100%;
  padding: 12px 0 12px 49px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #293449;
  border: none;
  cursor: pointer;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}

input[type="search"]::placeholder {
  color: #ffffff;
}

label.search-label {
  position: absolute;
  top: 12px;
  left: 17px;
  z-index: 20;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type=search]:hover {
  background: #212a3a;
  border: none;
}

input[type=search]:focus {
  color: #000000;
  background: #ffffff;
  outline: none;
}

input[type=search]:hover+label path {
  fill: #ffffff;
}

input[type=search]:focus+label path {
  fill: #ee3643;
}

.bookmarks {
  position: relative;
  width: 105px;
  float: left;
  padding: 12px 0 12px 45px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #ffffff;
  background-color: #293449;
}

.bookmarks:hover {
  background: #212a3a;
}

.bookmarks:active {
  background: #161d29;
}

.bookmarks svg {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
}

.bookmarks:hover path {
  fill: #ffffff;
}

.bookmarks:active path {
  fill: #8b8e94;
}

.basket {
  position: relative;
  float: left;
  width: 100px;
  padding: 12px 0 12px 50px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  text-align: left;
  color: #ffffff;
  background-color: #293449;
}

.full-basket {
  background: #ee3643;
}

.basket:hover {
  background: #212a3a;
}

.basket:active {
  background: #161d29;
}

.basket svg {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
}

.basket:hover path,
.basket:hover circle {
  fill: #ffffff;
}

.basket:active path,
.basket:active circle {
  fill: #8b8e94;
}

.ordering {
  float: left;
  padding: 12px 22px 12px 20px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #ffffff;
  background: #63a63e;
}

.ordering:hover {
  background: #5fbb2d;
}

.ordering:active {
  background: #518534;
}

.header-down {
  min-height: 278px;
  color: #000000;
  background-color: #f1f5f7;
  margin-bottom: 60px;
}

.catalog-page {
  margin-bottom: 0;
}

.title {
  width: 247px;
  float: left;
  margin: 49px 0 40px 52px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ef5c67;
}

.data {
  float: left;
  width: 340px;
}

.address,
.telephone {
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}

.telephone {
  position: relative;
  margin: 46px 50px 4px 22px;
  border: 3px solid #ffffff;
  width: 264px;
  font-size: 21px;
  line-height: 18px;
}

.telephone p {
  padding: 10px 10px 11px 71px;
  color: #e9292a;
}

.telephone svg {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 19px;
  height: 19px;
}

.address {
  width: 310px;
  margin-left: 31px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login,
.user-block {
  float: left;
}

.login {
  position: relative;
  margin: 47px 10px 0 21px;
  padding: 12px 26px 14px 46px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.login:hover {
  color: #ee3643;
}

.login:active {
  color: #cacaca;
}

.login svg {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;
  width: 20px;
  height: 20px;
}

.login:hover path {
  fill: #32425c;
}

.login:active path {
  fill: #c5c5c5;
}

.registration {
  float: right;
  padding: 12px 25px 14px 23px;
  margin-top: 47px;
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.registration:hover {
  color: #ee3643;
}

.loged:active,
.registration:active {
  color: #cacaca;
}

.loged {
  position: relative;
  float: left;
  padding: 12px 65px 14px 46px;
  margin: 47px 0 0 3px;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.loged .login-svg {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 18px;
}

.loged svg {
  content: "";
  position: absolute;
  top: 13px;
  left: 268px;
  width: 20px;
  height: 17px;
}

.loged:hover path {
  fill: #32425c;
}

.loged:active path {
  fill: #c5c5c5;
}

.information {
  float: left;
  margin-top: 8px;
  font-size: 0;
  line-height: 0;
}

.my-orders {
  display: inline-block;
  padding-left: 19px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  background: #f2f6f8;
  -webkit-text-decoration: underline #32425c;
          text-decoration: underline #32425c;
}

.my-orders:hover {
  color: #ef4652;
  -webkit-text-decoration: underline #ef4652;
          text-decoration: underline #ef4652;
}

.my-orders:active {
  color: #c5cad0;
  -webkit-text-decoration: underline #c5cad0;
          text-decoration: underline #c5cad0;
}

.cabinet,
.point {
  display: inline-block;
}

.point {
  width: 5px;
  height: 5px;
  margin-left: 15px;
  margin-bottom: 2px;
  background: #32425c;
  border-radius: 50px;
}

.cabinet {
  position: relative;
  padding-left: 12px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  background: #f2f6f8;
  color: #32425c;
  -webkit-text-decoration: underline #32425c;
          text-decoration: underline #32425c;
}

.cabinet:hover {
  color: #ef4652;
  -webkit-text-decoration: underline #ef4652;
          text-decoration: underline #ef4652;
}

.cabinet:active {
  color: #c5cad0;
  -webkit-text-decoration: underline #c5cad0;
          text-decoration: underline #c5cad0;
}

.main-navigation {
  float: left;
  width: 100%;
  margin-bottom: 60px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  background-color: #32425c;
  border-bottom: 3px solid #293449;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation a {
  display: block;
  padding: 20px 31px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.main-navigation a:hover,
.service-toggle label:hover {
  background: #293449;
}

.main-navigation a:active {
  background: #1d2739;
}

.categories-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.categories-list li {
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.categories-list li:nth-child(3n) {
  margin-right: 0;
}

.categories-list li:last-child {
  margin-right: 0;
}

.categories a {
  display: block;
  text-align: center;
  width: 122px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding: 10px 7px 8px 6px;
  background-color: rgba(0, 0, 0, 0.100);
  border-radius: 2px;
  margin-left: 25px;
  margin-bottom: 23px;
}

.categories a:focus,
.categories a:hover {
  background-color: rgba(0, 0, 0, 0.200);
}

.categories a:active {
  background-color: rgba(0, 0, 0, 0.300);
}

.categories p {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 12px;
  margin-right: 30px;
}

.discount {
  width: 300px;
  background-color: #8ed78f;
  position: relative;
}

.discount::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  top: 26px;
  left: 196px;
  background-image: url(../img/icon-4.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.stock .delivery {
  width: 300px;
  background-color: #ffc047;
  position: relative;
}

.stock .delivery::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  top: 33px;
  left: 191px;
  background-image: url(../img/icon-5.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.materials {
  width: 300px;
  background-color: #ffbf47;
  position: relative;
}

.materials::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  top: 0px;
  left: 241px;
  background-image: url(../img/new-flag.png);
  background-position: center;
  background-repeat: no-repeat;
}

.materials::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  left: 214px;
  background-image: url(../img/icon-1.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.tools::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  top: 31px;
  left: 197px;
  background-image: url(../img/icon-2.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.building-technology::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  left: 192px;
  background-image: url(../img/icon-3.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.tools {
  width: 300px;
  background-color: #3bbce3;
  position: relative;
}

.building-technology {
  width: 300px;
  background-color: #dc91d8;
  position: relative;
}

.building-technology svg {
  position: absolute;
  width: 78px;
  height: 62px;
  top: 30px;
  left: 192px;
}

.promo-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  position: relative;
  display: inline-block;
  float: left;
  width: 620px;
  height: 266px;
  margin: 0 auto;
}

.service-block input[type=radio],
.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  z-index: 12;
  bottom: 14%;
  left: 45%;
  width: 60px;
  height: 10px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  vertical-align: top;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider .arrow-left::before {
  content: "";
  position: absolute;
  z-index: 11;
  left: 22px;
  top: 123px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
  width: 28px;
  height: 4px;
  background: #ffffff;
  cursor: pointer;
}

.slider .arrow-left::after,
.slider .arrow-right::after,
.slider .arrow-right::before {
  content: "";
  position: absolute;
  z-index: 11;
  top: 140px;
  display: block;
  width: 28px;
  height: 4px;
  background: #ffffff;
  cursor: pointer;
}

.slider .arrow-left::after {
  left: 22px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slider .arrow-right::after,
.slider .arrow-right::before {
  right: 17px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slider .arrow-right::after {
  top: 123px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#btn-1:checked~.slider-controls label[for=btn-1],
#btn-2:checked~.slider-controls label[for=btn-2] {
  background: #ee3643;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  margin-left: 24px;
  padding-top: 26px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  background-position: 0 0;
}

.slide .btn,
.slide-title {
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.slide-title {
  margin-bottom: 4px;
  background: 0 0;
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
}

.slide .btn {
  display: block;
  width: 195px;
  padding: 10px 0;
  margin-top: 122px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  background: #ee3643;
  border-radius: 3px;
}

.slide:nth-child(1),
.slide:nth-child(2) {
  background-image: url(../img/slide-1.jpg);
  background-repeat: no-repeat;
  background-color: #000000;
}

.slide:nth-child(2) {
  background-image: url(../img/slide-2.jpg);
  background-color: #000000;
}

.slide {
  display: none;
}

.slide h2 {
  margin: 0;
  margin-bottom: 5px;
}

.slide span {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  font-weight: 400;
}

#btn-1:checked~.slides .slide:nth-child(1),
#btn-2:checked~.slides .slide:nth-child(2) {
  display: block;
}

.popular-goods {
  background-color: #f7f3ec;
  margin-bottom: 20px;
}

.stock-list {
  margin-left: 20px;
}

.stock-list li {
  margin-right: 0;
  margin-bottom: 18px;
  width: 300px;
  font-family: "Cuprum", "Arial", sans-serif;
  border: 1px solid #ffffff;
}

.stock-list li:last-child {
  margin-bottom: 52px;
}

.stock a {
  display: block;
  text-align: center;
  width: 122px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding: 10px 7px 8px 6px;
  background-color: rgba(0, 0, 0, 0.100);
  border-radius: 2px;
  margin-left: 25px;
  margin-bottom: 23px;
}

.stock a:focus,
.stock a:hover {
  background-color: rgba(0, 0, 0, 0.200);
}

.stock a:active {
  background-color: rgba(0, 0, 0, 0.300);
}

.stock p {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 21px;
  margin-left: 22px;
  margin-bottom: 13px;
  margin-right: 30px;
}

.popular-goods {
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f9f5f0;
  border-radius: 3px;
  padding: 0 24px 0 28px;
  margin-bottom: 21px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.popular-goods p {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-style: normal;
  width: 280px;
}

.popular-goods .all-goods {
  padding: 10px 54px;
  margin-left: 2px;
}

.popular-catalog ul {
  width: 940px;
  margin-bottom: 0px;
}

.popular-catalog .catalog-item:nth-child(3n) {
  margin-right: 20px;
}

.popular-catalog .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.popular-manufacturers {
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f9f5f0;
  border-radius: 3px;
  padding: 0 24px 0 28px;
  margin-bottom: 21px;
}

.popular-manufacturers p {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-style: normal;
  width: 380px;
}

.popular-manufacturers .all-manufacturers {
  padding: 10px 69px;
  margin-left: 2px;
  line-height: 18px;
  margin-bottom: 2px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 62px;
}

.logo-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  border-radius: 2px solid #eaeaea;
  background-color: #ffffff;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  outline: 1px solid #e5e5e5;
}

.logo-list li::after {
  display: none;
  position: absolute;
  content: "";
  width: 210px;
  height: 135px;
  background: rgba(255, 255, 255, 0.6);
}

.logo-list li:active::after {
  display: block;
}

.logo-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 220px;
  height: 145px;
}

.logo-list img {
  margin-top: -10px;
}

.bosch img {
  margin-left: 2px;
  margin-top: -6px;
}

.interskol img {
  margin-top: -20px;
}

.metabo img {
  margin-top: -15px;
  margin-right: -7px;
}

.hitachi img {
  margin-top: -3px;
  margin-left: 8px;
}

.makita img {
  margin-top: -9px;
}

.aeg img {
  margin-top: -8px;
  margin-right: -3px;
}

.lg img {
  margin-top: -6px;
}

.logo-list a:hover,
.logo-list a:focus {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.6);
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.6);
}

.logo-list a:active {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.3);
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.3);
}

.logo-list li:nth-child(4n) {
  margin-right: 0;
}

.services-description {
  min-height: 396px;
  background-color: #f4f7f9;
  margin-bottom: 82px;
  padding: 46px 0 79px;
}

.services-description .services-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.services-titel,
.services-titel>p {
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.services-titel {
  text-transform: uppercase;
  color: #000000;
  background: #f2f6f8;
  font-size: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-bottom: 28px;
}

.services-titel+p {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 65px;
}

.service-block {
  position: relative;
  display: inline-block;
  float: left;
  width: 940px;
  height: 289px;
  margin: 0 auto;
}

.service-block::after {
  content: "";
  position: absolute;
  z-index: 70;
  top: -45px;
  left: 230px;
  width: 15px;
  height: 284px;
  background: url(../img/divider.png) no-repeat;
  background-position: 0 0;
}

.service-toggle {
  position: absolute;
  z-index: 60;
  bottom: 95%;
  left: 0%;
  width: 60px;
  height: 10px;
}

.service-toggle label {
  display: block;
  width: 218px;
  padding: 13px 0 16px 22px;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  outline: none;
  cursor: pointer;
}

#button-1:checked~.service-toggle label[for=button-1],
#button-2:checked~.service-toggle label[for=button-2],
#button-3:checked~.service-toggle label[for=button-3] {
  color: #32425c;
  background: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  outline: none;
}

.service-touch-button p,
.service-touch-button span {
  display: block;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.service-touch-button span {
  padding: 9px 0 30px 79px;
  text-transform: uppercase;
  color: #32425c;
  font-size: 36px;
  font-family: "Cuprum", "Arial", sans-serif
}

.service-touch-button p {
  width: 290px;
  padding-left: 80px;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
}

p.additional-text {
  width: 200px;
}

.credit .btn {
  width: 107px;
  display: block;
  margin: 27px 0 0 78px;
  padding: 10px 44px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #ee3642;
  border-radius: 5px;
  outline: none;
}

.service-block .credit,
.service-block .delivery,
.service-block .garantia {
  background-image: url(../img/delivery.png);
  background-position: 100% 122%;
  background-repeat: no-repeat;
}

.service-block .credit,
.service-block .garantia {
  background-image: url(../img/guarantee.png);
  background-position: 103% 10%;
}

.garantia p {
  width: 380px;
}

.service-block .credit {
  background-image: url(../img/credit.png);
  background-position: 111% 0;
}

.service-touch-button {
  display: none;
  margin-left: 242px;
  padding-bottom: 124px;
}

#button-1:checked~.service-block-right .delivery,
#button-2:checked~.service-block-right .garantia,
#button-3:checked~.service-block-right .credit {
  display: block;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs .to-home:after {
  content: "";
  width: 14px;
  height: 12px;
  top: 2px;
  left: -1px;
  position: absolute;
  display: block;
  background-image: url(../img/icon-home.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs li::after {
  content: "";
  width: 8px;
  height: 12px;
  top: 3px;
  left: -28px;
  position: absolute;
  display: block;
  background-image: url(../img/icon-right-small.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs li:first-child::after {
  display: none;
}

.breadcrumbs a {
  color: #000000;
}

.container .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 28px;
  margin-bottom: 20px;
  height: 89px;
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
}

.to-home {
  margin-right: 55px;
}

.breadcrumbs li:nth-child(2) {
  margin-right: 40px;
}

.breadcrumbs li:nth-child(3) {
  margin-right: 43px;
}

.sort {
  margin-bottom: 20px;
}

.sort-list {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
}

.sort-list li {
  background-color: #f7f3ec;
  padding: 9px 0;
}

.sort-list li:last-child {
  padding-left: 6px;
  padding-right: 14px;
}

.sort-list li:first-child {
  width: 200px;
  margin-right: 22px;
  padding-left: 20px;
}

.sort-list li:nth-child(2) {
  width: 204px;
  padding-left: 18px;
}

.sort-list .price {
  margin-right: 56px;
  margin-left: 17px;
}

.sort-list a {
  list-style: none;
  color: #000000;
}

.sort-list .type {
  margin-right: 45px;
  margin-left: 14px;
}

.sort-list .function {
  margin-right: 83px;
  margin-left: 20px;
}

.catalog-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-list .up,
.sort-list .down {
  position: relative;
  padding: 0;
  margin: 0;
  width: 20px;
  padding-right: 1px;
}

.sort-list .price,
.sort-list .type,
.sort-list .function {
  color: #c4c1bb;
  border-bottom: 1px dotted #ee3643;
}

.sort-list .price:hover,
.sort-list .price:focus,
.sort-list .type:hover,
.sort-list .type:focus,
.sort-list .function:hover,
.sort-list .function:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-list .current {
  color: #ee3643;
  border: none;
}

.sort-list .current:hover,
.sort-list .current:focus {
  color: #ee3643;
  border: none;
}

.sort-list .up::before {
  position: absolute;
  content: "";
  left: -36px;
  top: 5px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #c5c5c5;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sort-list .down::before {
  position: absolute;
  content: "";
  left: -11px;
  top: 4px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #c5c5c5;
}

.down:focus::before,
.down:hover::before,
.up:focus::before,
.up:hover::before {
  border-top: 10px solid #ee3643;
}

.down:active::before,
.down:active::before,
.up:active::before,
.up:active::before {
  border-top: 10px solid #000000;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 38px;
  margin-bottom: 54px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 1px 1px;
}

.pagination-list li:hover,
.pagination-list li:focus {
  border-color: #bdc6ca;
}

.pagination-list li:active {
  border-color: #ee3643;
}

.pagination-item-current {
  background-color: #ee3643;
}

.pagination-list a {
  padding: 7px 13px 9px 15px;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
  color: #000000;
}

.pagination-list:last-child {
  text-transform: uppercase;
}

.pagination-list li:last-child {
  width: 140px;
  margin-right: 0;
}

.pagination-item-current a {
  color: #ffffff;
}

.about-product {
  background-color: #f4f7f9;
  min-height: 261px;
  width: 100%;
}

.about-product h2,
.about-product p {
  margin: 0;
  padding: 0;
}

.about-product h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  font-size: 30px;
  line-height: 30px;
  padding-top: 65px;
  margin-bottom: 25px;
}

.about-product p {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
}

.filters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 20px;
  margin-top: -5px;
}

.filter::before {
  position: absolute;
  top: 191px;
  left: -2px;
  content: "";
  height: 1px;
  width: 222px;
  background-color: #c5c5c5;
}

.filter::after {
  position: absolute;
  top: 454px;
  left: -2px;
  content: "";
  height: 1px;
  width: 222px;
  background-color: #c5c5c5;
}

.filters ul {
  padding: 0;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.filter-button {
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  border-radius: 2px;
  outline: none;
  margin-top: 36px;
}

.filter-button:focus,
.filter-button:hover,
.filter-button:active {
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 700px;
}

.catalog img {
  width: 218px;
  height: 170px;
}

.catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  margin-bottom: 21px;
  margin-right: 20px;
  outline: 1px solid #e5e5e5;
}

.catalog-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-item h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 12px;
}

.visually-hidden+a.button {
  margin-top: 28px;
}

.catalog-item .catalog-item-image {
  margin: 0;
  padding: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 5px;
}

.new-flag {
  position: relative;
}

.new-flag::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  top: 0px;
  left: 161px;
  background-image: url(../img/new-flag.png);
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-item-price {
  margin: 0;
  padding: 0;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.catalog-item-price del {
  display: block;
  margin-bottom: 9px;
  margin-left: 34px;
}

.catalog-item-price .button {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  padding: 10px 14px 10px 27px;
  text-decoration: none;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px 0 0 3px;
  margin-bottom: 20px;
}

.catalog-item-price .button:after {
  content: '';
  position: absolute;
  top: 0;
  right: -37px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.catalog-item-price a:hover,
.catalog-item-price a:focus {
  background-color: #ee3643;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 32px;
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.catalog-list a {
  color: #000000;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.catalog-item .buy,
.catalog-item .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.catalog-item .buy:hover,
.catalog-item .buy:focus {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #518534;
}

.catalog-item .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.catalog-item .bookmark {
  color: #32425c;
  background: #ffffff;
  border-bottom-color: #63a63e;
}

.catalog-item .bookmark:hover,
.catalog-item .bookmark:focus {
  border-color: #32425c;
}

.catalog-item .bookmark:active {
  border-color: #c1c6ce;
  color: #c1c6ce;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:hover,
.catalog-item:focus {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-price {
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
}

.catalog-item-price a {
  background: #ee3643;
  color: #ffffff;
}

.price-filter .legend-item {
  font-size: 17px;
  line-height: 22px;
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.range-controls {
  background: #f7f3ec;
  border-radius: 3px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin: 0px 0 9px;
  padding: 0 30px;
  overflow: hidden;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.scale {
  height: 2px;
  margin-top: 39px;
  background: #d7dcde;
}

.bar {
  width: 87%;
  height: 2px;
  background: #00ca74;
}

.range-controls .min-toggle {
  left: 21px;
}

.range-controls .max-toggle {
  left: 161px;
}

.price-filter .min-price,
.price-filter .max-price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 95px;
  min-height: 38px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.price-controls {
  margin-bottom: 26px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type=text] {
  width: 85px;
  padding: 8px 2px 10px 8px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.price-min+span {
  margin-left: 9px;
  margin-top: 3px;
  font-size: 17px;
  line-height: 30px;
}

.price-max {
  margin: 0;
  margin-left: 5px;
}

.price-min::after {
  position: absolute;
  content: "";
  left: 105px;
  width: 10px;
  height: 1px;
  width: 10px;
  background-color: #444444;
}

.product-filter .legend-item {
  font-size: 17px;
  line-height: 22px;
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-input-checkbox:not(:checked)+label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 27px;
  height: 29px;
  background-image: url("../img/sprite-radio-check.png");
  background-repeat: no-repeat;
  background-position: -31px 0;
}

.filter-input-checkbox+label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 27px;
  height: 29px;
  background-image: url("../img/sprite-radio-check.png");
  background-repeat: no-repeat;
  background-position: -3px 0;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.product-filter ul {
  font-size: 15px;
  line-height: 20px;
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.filter-input-radio:not(:checked)+label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 27px;
  height: 29px;
  background-image: url("../img/sprite-radio-check.png");
  background-repeat: no-repeat;
  background-position: -60px 0;
}

.filter-input-radio+label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 27px;
  height: 29px;
  background-image: url("../img/sprite-radio-check.png");
  background-repeat: no-repeat;
  background-position: -90px 0;
}

.filters fieldset:nth-child(2) {
  margin-bottom: 26px;
}

.filters button {
  padding: 9px 38px;
}

.filters button:hover,
.filters button:focus {
  border-color: #bdc6ca;
}

.filters button:active {
  border-color: #ee3643;
}

.features-contacts-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 85px;
  background-color: 32425c;
}

.features {
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Cuprum", "Arial", sans-serif;
}

.features h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.features-list {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

.features-item {
  margin-bottom: 25px;
}

.features-list li:nth-child(2) {
  margin-bottom: 18px;
}

.services {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 320px;
  padding-left: 33px;
  position: relative;
}

.services-item::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 12px;
  width: 25px;
  height: 3px;
  background-color: #ee3643;
}

.services li {
  position: relative;
  margin-bottom: 16px;
  padding-left: 3px;
}

.services li:last-child {
  margin-bottom: 34px;
}

.features .button {
  width: 166px;
  padding: 11px 27px;
}

.contacts {
  font-family: "Cuprum", "Arial", sans-serif;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', 'Arial Narrow', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.contacts img {
  width: 300px;
  height: 158px;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
}

.contacts .button {
  display: block;
  padding: 10px 10px 10px 14px;
}

.contacts-button-map {
  width: 300px;
  height: 158px;
  margin-bottom: 37px;
}

.main-footer {
  background-color: #32425c;
  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
}

.top-footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-footer-column .first-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.top-footer-column .second-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 560px;
}

.footer-offer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.main-footer-logo h1>a {
  display: inline-block;
  padding: 18px 41px 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  margin-bottom: 28px;
}

.footer-address {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 50px;
  margin-left: 3px;
}

.footer-address a {
  color: #ffffff;
}

.footer-nav-list {
  font-size: 18px;
  line-height: 24px;
  margin-top: 38px;
  margin-left: 13px;
  margin-bottom: 34px;
}

.footer-nav-list a {
  color: #ffffff;
  padding: 10px 58px 10px 0;
}

.footer-nav-list li:nth-child(5) a{
  padding-right: 2px;
}

.footer-nav-list .contacts {
  margin-right: 0;
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
  text-decoration: underline;
}

.footer-nav-list a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-offer-list {
  font-size: 18px;
  line-height: 24px;
  margin-left: 36px;
}

.footer-offer-list a {
  color: #ffd180;
  padding: 10px 58px 10px 0;
}

.footer-offer-list li:nth-child(4) a{
  padding-right: 2px;
}

.footer-offer-list a:hover,
.footer-offer-list a:focus {
  text-decoration: underline;
}

.footer-offer-list a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.bottom-line {
  background-color: #293449;
}

.bottom-line-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 107px;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 310px;
  margin-right: 70px;
}

.footer-copyright p {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  margin-right: 113px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 150px;
}

.social-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;
  margin-left: 5px;
  margin-top: 2px;
}

.footer-social a:focus,
.footer-social a:hover,
.footer-social a:focus {
  background-color: #ee3643;
}

.vk::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 15px;
  top: 13px;
  left: 7px;
  position: absolute;
  display: block;
  background-image: url(../img/icon-vk.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.fb::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 22px;
  top: 9px;
  left: 14px;
  position: absolute;
  display: block;
  background-image: url(../img/icon-fb.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.insta::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  top: 10px;
  left: 10px;
  position: absolute;
  display: block;
  background-image: url(../img/icon-insta.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.feedback-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-mail,
.feedback-site {
  padding: 0;
  width: 140px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback-mail {
  margin-right: 47px;
}

.feedback-site {
  width: 105px;
}

.footer-link {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.footer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.modal-feedback {
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  width: 620px;
  min-height: 423px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -215px;
  margin-left: -310px;
  border-top: 7px solid #ee3643;
  padding-top: 55px;
}

.modal-feedback .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 80px;
  padding-right: 80px;
}

.modal-feedback button[type="submit"] {
  width: 100%;
  min-height: 38px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 3px;
  padding: 0 20px;
}

.modal-feedback button[type="submit"]:focus,
.modal-feedback button[type="submit"]:active,
.modal-feedback button[type="submit"]:hover {
  border: none;
  outline: none;
  outline-offset: none;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feedback-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.feedback-form label {
  margin-bottom: 10px;
}

.feedback-form .first-column {
  width: 220px;
}

.feedback-form .second-column {
  width: 220px;
}

.feedback-form .third-column {
  width: 100%;
  margin-bottom: 37px;
}

.feedback-form label[for="user-letter"] {
  margin-bottom: 20px;
}

.feedback-form textarea[name="email-text"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 114px;
  width: 460px;
  resize: none;
  border: 2px solid #dee3e4;
  outline: 0;
  outline-offset: 0;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  padding: 10px 16px;
}

.feedback-form input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.feedback-form input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.feedback-form input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.feedback-form input::placeholder {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.feedback-form textarea[name="email-text"]:focus {
  border: 2px solid red;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
}

.feedback-form .bottom-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
  width: 100%;
  min-height: 112px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  padding: 8px 16px;
  font: inherit;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  outline: 0;
  outline-offset: 0;
}

.feedback-form input:hover,
.feedback-form input:focus {
  border-color: #b5b5b5;
}

.feedback-form input:focus {
  border-color: #ee3643;
  border-radius: 3px;
}

.modal-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url(../img/bigmap.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map .modal-close,
.modal-feedback .modal-close,
.modal-cart .modal-close {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: transparent;
  top: 9px;
  right: 18px;
  border: 0;
  cursor: pointer;
  font-size: 0;
  outline: none;
  outline-offset: none;
  z-index: 15;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #ee3643;
  z-index: 3;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-cart {
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  width: 620px;
  min-height: 282px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -215px;
  margin-left: -310px;
  border-top: 7px solid #ee3643;
}

.modal-cart p {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  width: 317px;
  padding-top: 65px;
  padding-left: 179px;
  padding-right: 126px;
  margin-bottom: 68px;
}

.modal-cart p::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  top: 46px;
  left: 80px;
  background-image: url(../img/modal-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-cart .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f1f1f1;
  width: 100%;
  min-height: 113px;
}

.modal-cart a {
  color: #ffffff;
  background-color: #ee3643;
  padding: 10px 50px 10px 50px;
  border-radius: 3px;
  margin-left: 80px;
  margin-right: 20px;
  text-transform: uppercase;
}

.modal-cart a:focus,
.modal-cart a:hover {
  background-color: #ca2c37;
}

.modal-cart a:active {
  background-color: #ba2732;
  color: rgba(255, 255, 255, 0.6);
}

.modal-cart .button-cart {
  padding: 10px 31px 10px 31px;
  text-transform: uppercase;
  outline: none;
  outline-offset: none;
}

.modal-cart .button-cart:hover,
.modal-cart .button-cart:focus {
  cursor: pointer;
  border-color: #bdc6ca;
}

.modal-cart .button-cart:active {
  border: 2px solid #ee3643;
  border-radius: 3px;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
