.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


body>* {
  outline: 2px rgba(243, 15, 15, 0.3);
}

body>*>* {
  outline: 2x solid rgb(255, 255, 0);
}

body>*>*>* {
  outline: 2px solid rgb(0, 255, 0);
}

body>*>*>*>* {
  outline: 2px solid rgb(4, 0, 255);
}

body>*>*>*>*>* {
  outline: 2px solid rgb(200, 30, 255);
}

body>*>*>*>*>*>* {
  outline: 2px solid rgb(100, 30, 255);
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  margin: 0;
  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  font-size: 14px;
  line-height: 18px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  background-color: #f4f7f9;
  min-height: 327px;
}

.main-header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ee3643;
  min-height: 40px;
  width: 220px;
  margin-right: 5px;
}

.main-header-logo img {
  width: 108px;
  height: 25px;
  margin-top: 4px;
}

.main-header-logo:focus,
.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

a {
  text-decoration: none;
}

.header-top {
  background-color: #293449;
  margin-bottom: 48px;
}

.header-list {
  display: flex;
  align-items: center;
  width: 710px;
  min-height: 42px;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.header-list li {
  width: 150px;
  margin-left: 5px;
}

.header-list li:first-child {
  width: 270px;
}

.header-list a {
  color: #ffffff;
  margin: 0;
  display: block;
  word-wrap: normal;
  padding: 12px 8px 12px 38px;
}

.header-list .to-order {
  background-color: #63a63e;
  padding-left: 20px;
}

.header-list .to-order:focus,
.header-list .to-order:hover {
  background-color: #5fbb2d;
}

.header-list .to-order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-list a:hover,
.header-list a:focus {
  background-color: #212a3a;
}

.header-list a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-list .full-cart {
  background-color: #ee3643;
}

.header-list .full-cart:focus,
.header-list .full-cart:hover {
  background-color: #ca2c37;
}

.header-list .full-cart:active {
  background-color: #ba2732;
}

.header-top-column {
  display: flex;
  justify-content: space-between;
}

.search-form {
  position: relative;
  font: inherit;
  border: none;
  padding: 12px 0;
}

.header-list label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 14px;
  left: 3px;
  background-image: url(/img/search-sprite.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-position: -22px -1px;
}

.header-list .search-form:hover::before,
.header-list .search-form:focus::before,
.header-list .search-form:active::before {
  opacity: 1;
}

.search-form input {
  position: relative;
  margin-left: 33px;
  background-color: #293449;
  border: none;
}

.search-form input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-input:focus+label::before {
  background-position: -2px 0;
  opacity: 1;
}

input[type="search"],
input[type="search"]::placeholder {
  color: #ffffff;
}

.header-list .cart,
.header-list .full-cart {
  position: relative;
}

.header-list .cart::before,
.header-list .full-cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 14px;
  left: 12px;
  background-image: url(/img/cart-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-list .full-cart:hover::before,
.header-list .full-cart:focus::before,
.header-list .full-cart:active::before,
.header-list .cart:hover::before,
.header-list .cart:focus::before,
.header-list .cart:active::before {
  opacity: 1;
}

.bookmarks {
  position: relative;
}

.header-list .bookmarks::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 14px;
  left: 7px;
  background-image: url(/img/icon-bookmark.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-list .bookmarks:hover::before,
.header-list .bookmarks:focus::before,
.header-list .bookmarks:active::before {
  opacity: 1;
}

.header-middle-column {
  display: flex;
  margin-bottom: 40px;
}

.main-header h1 {
  width: 200px;
  margin: 0;
  padding: 0;
  margin-left: 52px;
  margin-right: 70px;
  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.main-header .address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.header-address {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 313px;
  margin-right: 23px;
}

.header-address p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
  color: #32425c;
}

.header-address .phone-number {
  position: relative;
  color: #e9292a;
  width: 260px;
  min-height: 40px;
  font-size: 21px;
  line-height: 21px;
  border: solid 3px #ffffff;
}

.phone-number a {
  display: block;
  padding-left: 58px;
  margin-top: 8px;
  color: #e9292a;
}

.phone-number::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 0;
  background-image: url(/img/icon-phone.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.inner-page .user-navigation {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.logout {
  position: relative;
}

.logout::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: -35px;
  left: 41px;
  background-image: url(/img/icon-logout.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.logout:hover::after,
.logout:focus::after,
.logout:active::after {
  opacity: 1;
}

.inner-page .user-name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #f4f7f9;
  width: 318px;
  height: 45px;
  margin-bottom: 3px;
}

.user-name a {
  padding: 12px 32px 12px 31px;
}

.user-name a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 14px;
  left: 33px;
  background-image: url(/img/icon-user.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-name a:hover::before,
.user-name a:focus::before,
.user-name a:active::before {
  opacity: 1;
}

.inner-page .user-orders {
  margin-left: 38px;
}

.inner-page .personal-account {
  margin-left: 32px;
}

.user-orders::after {
  content: "";
  position: absolute;
  display: block;
  top: 58px;
  left: 127px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.user-navigation {
  display: flex;
  align-self: flex-start;
}

.user-navigation a {
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
}

.user-orders a,
.personal-account a {
  font-size: 16px;
  line-height: 18px;
}

.user-navigation a:focus,
.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .user-name {
  font-size: 21px;
  line-height: 21px;
}

.user-orders,
.personal-account {
  font-size: 16px;
  font-weight: 18px;
  color: #32425c;
  text-decoration: underline;
}

.login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 2px;
  left: -10px;
  background-image: url(/img/icon-login.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.login:hover::before,
.login:focus::before,
.login:active::before {
  opacity: 0.3;
}

.login-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 0;
  padding: 0;
  margin-right: 11px;
  width: 121px;
  min-height: 45px;
  background-color: #ffffff;
}

.login-link a {
  align-self: center;
  padding-left: 23px;
  padding-bottom: 5px;
}

.login {
  position: relative;
}

.registration-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 0;
  padding: 0;
  width: 150px;
  min-height: 45px;
  background-color: #ffffff;
}

.registration-link a {
  align-self: center;
}

.main-navigation {
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 60px;
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 25px 0 25px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation a {
  display: block;
  padding: 20px 30px;
  color: #ffffff;
}

.main-navigation a:focus,
.main-navigation a:hover {
  background-color: #293449
}

.main-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.categories {
  margin-bottom: 1873px;
}

.categories-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.categories-list li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.categories-list li:nth-child(3n) {
  margin-right: 0;
}

.categories-list li:last-child {
  margin-right: 0;
}

.categories a {
  display: block;
  text-align: center;
  width: 122px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding: 8px 5px;
  background-color: rgba(0, 0, 0, 0.100);
  border-radius: 2px;
  margin-left: 25px;
  margin-bottom: 23px;
}

.categories p {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 15px;
  margin-right: 30px;
}

.materials {
  width: 300px;
  background-color: #ffbf47;
  position: relative;
}

.materials::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  top: 0px;
  left: 241px;
  background-image: url(/img/new-flag.png);
  background-position: center;
  background-repeat: no-repeat;
}

.materials::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  left: 214px;
  background-image: url(/img/icon-1.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.tools::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  top: 31px;
  left: 197px;
  background-image: url(/img/icon-2.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.building-technology::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  left: 192px;
  background-image: url(/img/icon-3.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.tools {
  width: 300px;
  background-color: #3bbce3;
  position: relative;
}

.building-technology {
  width: 300px;
  background-color: #dc91d8;
  position: relative;
}

.building-technology svg {
  position: absolute;
  width: 78px;
  height: 62px;
  top: 30px;
  left: 192px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  min-height: 60px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}


.breadcrumbs li:first-child {
  margin-left: 54px;
}

.breadcrumbs li {
  margin-right: 40px;
  position: relative;
}

.breadcrumbs::after {
  content: "";
  width: 14px;
  height: 12px;
  top: 24px;
  left: 0px;
  position: absolute;
  display: block;
  background-image: url(/img/icon-home.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs li::before {
  content: "";
  width: 8px;
  height: 12px;
  top: 3px;
  left: -23px;
  position: absolute;
  display: block;
  background-image: url(/img/icon-right-small.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs li:last-child {
  margin-right: 0;
  margin-right: 51px;
}

.breadcrumbs a {
  color: #000000;
}

.container .page-title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 28px;
  margin-bottom: 79px;
  min-height: 89px;
  font-size: 30px;
  line-height: 30px;
  background-color: #f2f6f8;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog-column {
  display: flex;
}

.pagination-list {
  display: flex;
  min-height: 38px;
  margin-bottom: 60px;
}

.pagination-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  margin-right: 8px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-list li:hover,
.pagination-list li:focus {
  border-color: #bdc6ca;
}

.pagination-list li:active {
  border-color: #ee3643;
}

.pagination-item-current {
  background-color: #ee3643;
}

.pagination-list a {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PTSans-Regular', 'Arial Narrow', sans-serif;
  color: #000000;
}

.pagination-list:last-child {
  text-transform: uppercase;
}

.pagination-list li:last-child {
  width: 140px;
  margin-right: 0;
}

.pagination-item-current a {
  color: #ffffff;
}

.about-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 260px;
}

.about-product h2,
.about-product p {
  margin: 0;
  padding: 0;
}

.filters {
  position: relative;
  display: flex;
  width: 220px;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 208px;
}

.filter::before {
  position: absolute;
  top: 240px;
  content: "";
  height: 1px;
  width: 222px;
  background-color: #c5c5c5;
}

.filters ul {
  padding: 0;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.filter-button {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  border-radius: 2px;
}

.filter-button:focus,
.filter-button:hover,
.filter-button:active {
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.catalog img {
  width: 218px;
  height: 170px;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  margin-bottom: 21px;
  margin-right: 20px;
}

.catalog-item a {
  display: flex;
  flex-direction: column;
}

.catalog-item h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  order: 2;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 12px;

}

.catalog-item:nth-child(3n) h3 {
  margin-bottom: 45px;
}

.catalog-item .catalog-item-image {
  margin: 0;
  padding: 0;
  order: 1;
  margin-bottom: 5px;
}

.catalog-item:nth-child(2n+1) {
  position: relative;
}

.catalog-item:first-child::after,
.catalog-item:last-child::after {
  display: none;
}

.catalog-item:nth-child(2n+1)::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  top: 0px;
  left: 160px;
  background-image: url(/img/new-flag.png);
  background-position: center;
  background-repeat: no-repeat;
}


.catalog-item-price {
  margin: 0;
  padding: 0;
  order: 3;
}

.catalog-item-price del {
  display: block;
  margin-bottom: 15px;
}

.catalog-item-price .button {
  display: block;
  margin-bottom: 26px;
  position: relative;
  padding: 5px 0;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item-price a:hover,
.catalog-item-price a:focus {
  background-color: #ee3643;
}

.catalog-item-price .button::after {
  position: absolute;
  content: "";
  width: 141px;
  height: 38px;
  background-image: url(/img/item-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -5px;
  left: -36px;
  z-index: -1;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.catalog-list a {
  color: #000000;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-price {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
}

.catalog-item-price a {
  background: #ee3643;
  color: #ffffff;
}

.product-filter .legend-item {
  font-size: 17px;
  line-height: 22px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("/img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -35px;
  top: 0;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("/img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.product-filter ul {
  font-size: 15px;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("/img/radio-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("/img/radio-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters fieldset:nth-child(2) {
  margin-bottom: 60px;
}

.filters button {
  padding: 9px 38px;
}

.filters button:hover,
.filters button:focus {
  border-color: #bdc6ca;
}

.filters button:active {
  border-color: #ee3643;
}

.features-contacts-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
  background-color: 32425c;
}

.features {
  width: 560px;
  display: flex;
  flex-direction: column;
}

.features h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.features-list {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  margin-bottom: 0;
}

.features-item {
  margin-bottom: 25px;
}

.features-list li:nth-child(2) {
  margin-bottom: 18px;
}

.services {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 320px;
  padding-left: 33px;
  position: relative;
}

.services-item::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 12px;
  width: 25px;
  height: 3px;
  background-color: #ee3643;
}

.services li {
  position: relative;
  margin-bottom: 16px;
  padding-left: 3px;
}

.services li:last-child {
  margin-bottom: 37px;
}

.features .button {
  width: 166px;
  padding: 9px 27px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.contacts img {
  width: 300px;
  height: 158px;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
}

.contacts .button {
  display: block;
  padding: 10px 0;
}

.main-footer {
  background-color: #32425c;
}

.top-footer-column {
  display: flex;
  justify-content: space-between;
}

.top-footer-column .first-column {
  display: flex;
  flex-direction: column;
}

.top-footer-column .second-column {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.footer-offer-list {
  display: flex;
}

.footer-nav-list {
  display: flex;
}

.main-footer .main-footer-logo {
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  width: 220px;
  height: 68px;
  margin-bottom: 28px;
}


.main-footer-logo img {
  margin-left: 42px;
  margin-top: 20px;
}

.footer-address {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 50px;
  margin-left: 3px;
}

.footer-address a {
  color: #ffffff;
}

.footer-nav-list {
  font-size: 18px;
  line-height: 24px;
  margin-top: 38px;
  margin-left: 13px;
  margin-bottom: 34px;
}

.footer-nav-list a {
  color: #ffffff;
  margin-right: 59px;
}

.footer-nav-list .contacts {
  margin-right: 0;
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
  text-decoration: underline;
}

.footer-nav-list a:focus {
  color: rgba(241, 245, 247, 0.5);
}

.footer-offer-list {
  font-size: 18px;
  line-height: 24px;
  margin-left: 36px;
}

.footer-offer-list a {
  color: #ffd180;
  margin-right: 60px;
}

.footer-offer-list a:hover,
.footer-offer-list a:focus {
  text-decoration: underline;
}

.footer-offer-list a:focus {
  color: rgba(241, 245, 247, 0.5);
}

.bottom-line {
  background-color: #293449;
}

.bottom-line-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 107px;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  margin-right: 70px;
}

.footer-copyright p {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  margin-right: 113px;
}

.footer-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 150px;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;
  margin-left: 5px;
  margin-top: 2px;
}

.footer-social a:focus,
.footer-social a:hover,
.footer-social a:focus {
  background-color: #ee3643;
}

.vk::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 15px;
  top: 14px;
  left: 7px;
  position: absolute;
  display: block;
  background-image: url(/img/icon-vk.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.fb::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 22px;
  top: 11px;
  left: 13px;
  position: absolute;
  display: block;
  background-image: url(/img/icon-fb.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.insta::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  top: 10px;
  left: 7px;
  position: absolute;
  display: block;
  background-image: url(/img/icon-insta.svg);
  background-position: center;
  background-repeat: no-repeat;
}


.feedback-column {}

.feedback-mail,
.feedback-site {
  padding: 0;
  width: 140px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.feedback-mail {
  margin-right: 47px;
}

.feedback-site {
  width: 105px;
}

.footer-link {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
}

.modal-feedback {
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  width: 620px;
  min-height: 423px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -215px;
  margin-left: -310px;
  border-top: 7px solid #ee3643;
  padding-top: 55px;
}

.modal-feedback .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 80px;
  padding-right: 80px;
}

.modal-feedback button[type="submit"] {
  width: 100%;
  min-height: 38px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 3px;
  padding: 0 20px;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form p {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.feedback-form label {
  margin-bottom: 10px;
}

.feedback-form .first-column {
  width: 220px;
}

.feedback-form .second-column {
  width: 220px;
}

.feedback-form .third-column {
  width: 100%;
  margin-bottom: 37px;
}

.feedback-form label[for="user-letter"] {
  margin-bottom: 20px;
}

.feedback-form textarea[name="email-text"] {
  min-height: 114px;
}

.feedback-form .bottom-column {
  display: flex;
  align-items: center;

  background-color: #f4f4f4;
  width: 100%;
  min-height: 112px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  box-sizing: border-box;
  width: 220px;
  padding: 8px 16px;
  font: inherit;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
}

.feedback-form input:hover,
.feedback-form input:focus {
  border-color: #b5b5b5;
}

.feedback-form input:focus {
  border-color: #ee3643;
}

.modal-map {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url(/img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-map .modal-close,
.modal-feedback .modal-close,
.modal-cart .modal-close {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: transparent;
  top: 9px;
  right: 18px;
  border: 0;
  cursor: pointer;
  font-size: 0;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

